@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600&display=swap");

.contact-container {
  min-height: 100vh;
  background-color: rgb(30, 29, 28);
  overflow: scroll;
}

.contact-header-title {
  margin-top: 40px;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: white;
}

.contact-header-subtitle {
  margin-top: 20px;
  font-family: "Karla", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: rgb(172, 153, 145);
  font-style: italic;
}

.contact-icon {
  color: white;
  margin-top: 40px;
  size: 100px;
}

.link-contact {
      text-decoration: none;
}
