@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600&display=swap');

html {
  overflow-y: scroll;
}

.landing-page {
  /* background-image: url('../../../public/images/sunset-photo.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: scroll;
  background-attachment: fixed;
}

.row-landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
} 


.landing-page-title {
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-weight: 600;
  font-size: 80px;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  color:white;
}

.landing-page-learn-more-div {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.landing-page-learn-more-button {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  color: rgb(187,175,173);
  border: 1px solid rgb(172, 153, 145);
  background-color: white;
}

.landing-page-learn-more-button:hover {
  cursor: pointer;
  box-shadow: 2px 4px 8px rgba(0,0,0,0.5);
  border: none;
}

.landing-page-learn-more-button:active {
  transform: translateY(1px);
}
