@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');


.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

.rectangle {
    width: 800px;
    height: 400px;
    opacity: 85%;
    background-color:rgba(194, 212, 187, 1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4), 0px -1px 1px rgba(0, 0, 0, 0.2);
}

.kaitlyn-text {
    font-size: 80px;
    color: white;
    font-weight: 100;
    margin-bottom: 0px; 
    margin-top: 120px;
    font-family: 'Inter', sans-serif;
}

.welcome-text {
    font-size: 20px;
    color: rgba(152, 179, 145, 1);
    font-weight: 75;
    font-family: 'Inter', sans-serif;
    margin-top: 0px;
}


.button-learn-more {
  padding: 5px 10px;
  font-size: 14px;
  background-color: white;
  color: rgba(152, 179, 145, 1);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.7);
}

.button-learn-more:hover {
  color: rgba(152, 179, 145, 1);
  box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.5);
}

.button-learn-more:active {
  color: rgba(152, 179, 145, 1);
  box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.5);
}
