  
  .flower {
    display: grid;
    grid-template-columns: repeat(6, 50px);
    grid-template-rows: repeat(6, 50px);
  }

  .center-of-petal{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color:rgba(194, 212, 187, 1);
    position: relative;
    z-index: 9999;
    justify-self: center; 
    align-self: center; 
    grid-column: 3/5; 
    grid-row: 3/5; 
    animation: 400ms showPetals linear forwards;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  .small-petal {
    animation: 400ms showPetals linear forwards;
    background-image: linear-gradient(to left, rgba(226, 234, 219, 1), rgba(226, 234, 219, 0.8) 100%);
    opacity: 0;
    box-shadow: 0px 0px 4px 2px rgba(100, 100, 100, 0.2);
}

  .small-petal1 {
    animation-delay: 800ms;
    border-radius: 150px 10px 150px 10px;
    grid-column: 4/6;
    grid-row: 2/4;
  }

  .small-petal2 {
    animation-delay: 1000ms;
    border-radius: 150px 10px 150px 10px;
    grid-column: 4/6;
    grid-row: 3/5;
    transform: rotate(45deg) translate(0.8rem, -0.8rem);
  }

  .small-petal3 {
    animation-delay: 1200ms;
    border-radius: 10px 100px 10px 100px;
    grid-column: 4/6;
    grid-row: 4/6;
  }

  .small-petal4 {
    animation-delay: 1400ms;
    border-radius: 150px 10px 150px 10px;
    grid-column: 3/5;
    grid-row: 3/5;
    transform: rotate(135deg) translate(3.2rem, -3.2rem);
  }

  .small-petal5 {
    animation-delay: 1600ms;
    border-radius: 150px 10px 150px 10px;
    grid-column: 2/4;
    grid-row: 4/6;
  }

  .small-petal6 {
    animation-delay: 1800ms;
    border-radius: 150px 10px 150px 10px;
    grid-column: 2/4;
    grid-row: 3/5;
    transform: rotate(45deg) translate(-0.6rem, 0.6rem);
  }

  .small-petal7 {
    animation-delay: 2000ms;
    border-radius: 10px 150px 10px 150px;
    grid-column: 2/4;
    grid-row: 2/4;
  }

  .small-petal8 {
    animation-delay: 2200ms;
    border-radius: 150px 10px 150px 10px;
    grid-column: 3/5;
    grid-row: 1/3;
    transform: rotate(135deg) translate(1.7rem, -1.7rem);
  }

@keyframes showPetals {
  from {opacity: 0;}
  to {opacity: 1;}
}
