@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600&display=swap");

.about-page-container {
  min-height: 100vh;
  background-color: rgb(30, 29, 28);
  overflow-y: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.about-page-header-title {
  margin-top: 40px;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: white;
  margin-left: 20px;
}

.about-page-headshot {
  opacity: 40%;
}

.about-page-headshot-container {
  display: flex;
  justify-content: end;
}


.about-page-education-technology {
  font-family: "Karla", sans-serif;
  font-weight: 300;
  color: rgb(172, 153, 145);
  padding-bottom: 10px;
  margin-left: 20px;
}

.about-page-list-title {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: rgb(187,175,173);
}


.about-page-description {
  font-family: "Karla", sans-serif;
  font-weight: 300;
  color: rgb(172, 153, 145);
  margin-top: 20px;
  text-align: center;
}

.about-page-download-resume-button {
  font-family: "Karla", sans-serif;
  font-weight: 300;
  color: black;
  border: none;
  background-color: rgb(172, 153, 145);
  margin-top: 20px;
}

.about-page-download-resume-button:hover {
  cursor: pointer;
  background-color: lightgray;
}

.about-page-download-resume-button:active {
  transform: translateY(1px);
}
