@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600&display=swap");

.experience-card-container {
  padding-right: 35px; /* adjust as needed */
}

.row-work-experience-card {
  max-height: 30vh;
  overflow-y: auto;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: rgba(155, 155, 155, 0.7) transparent; /* For Firefox */
}

.row-work-experience-card::-webkit-scrollbar { /* For Chrome, Safari, and Edge */
  width: 5px;
}

.row-work-experience-card::-webkit-scrollbar-thumb { /* For Chrome, Safari, and Edge */
  background: rgb(172, 153, 145);
  border-radius: 10px;
}

.work-experience-card-header-small-title {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: white;
  margin-top: 50px;
}

.work-experience-card-company-photo {
  width: 70px;
  height: 70px;
  border-radius: 5px;
}

.work-experience-card-header-duration-title {
  font-family: "Karla", sans-serif;
  font-weight: 200;
  font-size: 15px;
  color: rgb(172, 153, 145);
  font-style: italic;
}

.work-experience-card-paragraph {
  font-family: "Karla", sans-serif;
  font-weight: 300;
  color: rgb(172, 153, 145);
  margin: 50px;
  text-align: left;
}
