@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap");
.navigation-container {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  height: auto;
  background-size: cover;
}

.nav-link {
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: "Karla", sans-serif;
  font-weight: 300;
  margin: 15px;
  font-size: 25px;
}

.nav-link.active {
  color: rgb(30, 29, 28) !important;
  font-family: "Karla", sans-serif;
  font-weight: 200;
  font-size: 25px;
}

.nav-link:hover {
  color: rgb(30, 29, 28) !important;
}

