@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600&display=swap");

.experience-container {
  height: 100vh;
  background-color: rgb(30, 29, 28);
  overflow: scroll;
}

.activeTab {
  background-color: rgb(172, 153, 145);
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  color: black;
  border: 1px solid rgb(172, 153, 145);
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.not-active {
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  color: black;
  border: 1px solid  rgb(172, 153, 145);
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
}


.tab-buttons {
  margin-top: 20px;
}


.experience-header-title {
  margin-top: 40px;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: white;
}